@font-face {

src: url("../CursedTimerUlil-Aznm.ttf");
font-family: "Scoreboard";
}


body {
    text-align: center;
    background-color: black;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h2 {
    color: white;
    font-size: 40px;
}

h3 {
    color: #F94F6D;
    font-family: "Scoreboard";
    font-size: 80px;
}

#container {
    background-color: #0C4A6E;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    border: 3px solid white;
    border-radius: 10px;
}

.score-section {
    width: 150px;
    background: black;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.button-section {
    display: flex;
}